// Your custom variables

$open-sans : 'Open Sans', sans-serif;
$raleway : 'Raleway', sans-serif;

$bg-primary : #f8f8f8;

$header-border-color : #ffffff;
$header-nav-color: #ffffff;
$header-nav-hover-color : #df4a43;
$header-bg-color : transparent;

$nav-text-size : 13px;
$nav-font-family :  'Muli', sans-serif;
$muli :  'Muli', sans-serif;




$menu-color:#565966;
$primary-color : #df4a43;
$menu-hover-color : #df4a43;

$text-primary-color: #afb0b4;

$brave-content-border: rgba(238, 238, 238, 0.9);